[submodule "public"]
	path = public
	url = git@github.com-originalkyu:originalkyu/originalkyu.github.io.git
	branch = main
[submodule "themes/apollo-hugo"]
	path = themes/apollo-hugo
	url = git@github.com-originalkyu:originalkyu/apollo-hugo.git
